# Node modules
# Node modules
BACKEND/node_modules/
FRONTEND/node_modules/


# Environment variables
# Backend env
BACKEND/.env

# Frontend env
FRONTEND/.env


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build folders


FRONTEND/dist/
FRONTEND/build/
# OS files
.DS_Store
Thumbs.db
